<a href="https://colab.research.google.com/github/praveenpotla01/Project-1-Feynn-labs-Trip-planner-using-Streamlit/blob/master/Places_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Getting Required Data for Trip Planner**

In [ ]:
import pandas as pd

**Kaggle Dataset**

In [ ]:
df = pd.read_excel('Review_db.xlsx')

In [ ]:
df

                      City                            Place  Rating
0        Aamby Valley City                  19 Degree North       5
1        Aamby Valley City                  19 Degree North       4
2        Aamby Valley City                  19 Degree North       5
3        Aamby Valley City                  19 Degree North       4
4        Aamby Valley City                  19 Degree North       5
...                    ...                              ...     ...
1048441          New Delhi  Habitat World Convention Centre       5
1048442          New Delhi  Habitat World Convention Centre       5
1048443          New Delhi  Habitat World Convention Centre       5
1048444          New Delhi  Habitat World Convention Centre       5
1048445          New Delhi  Habitat World Convention Centre       5

[1048446 rows x 3 columns]

In [ ]:
nan_count=df.isna().sum()
nan_count

City      0
Place     0
Rating    0
dtype: int64

**Grouping Places**

In [ ]:
avg_ratings = df.groupby('Place')['Rating'].mean().reset_index()

In [ ]:
City = df['City']
unique_places = pd.DataFrame({'Place': avg_ratings['Place'], 'average_rating': avg_ratings['Rating']})

In [ ]:
unique_places

                                       Place  average_rating
0                            Temple / Statue        3.000000
1                             1 MG Lido Mall        4.261682
2                              10 Acres Mall        3.200000
3                       101 Ft. Hanuman Idol        4.500000
4     108 Feet Height Statue Of Basaveshwara        4.000000
...                                      ...             ...
9956                             mantara bar        4.000000
9957                                 movieEX        5.000000
9958                      narmada river puja        4.229008
9959                          tour2sundarban        5.000000
9960                 vijay laxmi Handicrafts        4.333333

[9961 rows x 2 columns]

In [ ]:
unique_places.isna().sum()

Place             0
average_rating    0
dtype: int64

In [ ]:
longitude =[]
latitude =[]

# Adding LATITUDE & LONGITUDE for the Places

In [ ]:
import requests

In [ ]:
# Replace with your OpenCage API key
opencage_api_key = 'YOUR_API_KEY'

# Define a function to retrieve the latitude and longitude for a city name
def get_lat_long(city_name):
    api_url = f'https://api.opencagedata.com/geocode/v1/json?q={city_name}&key={opencage_api_key}'
    response = requests.get(api_url).json()
    if response['total_results'] > 0:
      latitude = response['results'][0]['geometry']['lat']
      longitude = response['results'][0]['geometry']['lng']
      return latitude, longitude
    else:
      return None, None

# Iterate over each row in the DataFrame and retrieve the latitude and longitude for the city
for index, row in unique_places.iterrows():
    city = row['Place']
    latitude, longitude = get_lat_long(city)
    unique_places.at[index, 'latitude'] = latitude
    unique_places.at[index, 'longitude'] = longitude
    

unique_places.to_csv('Unique_places.csv', index=False)

**Unique_Places.csv will be our final dataset**

In [ ]:
from google.colab import files
files.download('Unique_places.csv')